body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #2F4F4F;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-family: arial rounded mt bold;
}

li a:hover:not(.active) {
  background-color: #008080
}

.active {
  background-color: #FFC0CB;
  color: #2F4F4F;
}
